<p id="notice"><%= notice %></p>

    <h2>ラーメン店　口コミ一覧</h2>
    <br>
    <u><h5 class="text-right"><%= link_to '新規作成', new_list_path %></h5></u>
    <br>
    <br>
    <div class="container">
      <div class="row">
        <% @lists.each do |list| %>
        <div class="col-xl-4 col-md-6">
          <br>
          <% if @list.image.attached? %>
          <div><%= image_tag list.image.to_s,{ width: 320, height: 240 } %></div>
          <% end %>
          <br>
          <br>
          <h5>店名 ：　<%= list.store_name %></h5>
          <h5>評価 ：　<%= list.point %></5>
          <br>
          <br>
          <div class="d-flex justify-content-start">
            <u><h6><%= link_to '詳細を見る', list %></h6></u>　
            <% if list.user == current_user %>
            <u><h6><%= link_to '編集', edit_list_path(list) %></h6></u>　
            <u><h6><%= link_to '削除', list, method: :delete, data: { confirm: 'Are you sure?' } %></h6></u>
            <% end %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    