<p id="notice"><%= notice %></p>

<p>
  <strong>ユーザーID</strong>
  <%= @list.user_id %>
</p>

<p>
  <strong>店名:</strong>
  <%= @list.store_name %>
</p>

<p>
  <strong>メニュー:</strong>
  <%= @list.menu %>
</p>

<p>
  <strong>評価:</strong>
  <%= @list.point %>
</p>

<p>
  <strong>説明:</strong>
  <%= @list.content %>
</p>

<p>
  <strong>写真:</strong>
  <%= image_tag @list.image.url if @list.image? %>
</p>

<p>
  <strong>場所:</strong>
  <%= @list.location %>
</p>

<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
