<p id="notice"><%= notice %></p>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <br>
      <%= image_tag @list.image.to_s,{ width: 430, height: 320 } %>
    </div>
    <div class="offset-md-1 col-md-5 text-left">
      
      <p>
        <h5>投稿者 : <%= @user.name %></h5>
      </p>
      <br>
      <p>
        <h5>店名 : <%= @list.store_name %></h5>
      </p>
      <br>
      <p>
        <h5>メニュー : <%= @list.menu %></h5>
      </p>
      <br>
      <p>
        <h5>評価 : <%= @list.point %></h5>
      </p>
      <br>
      <p>
        <h5>説明 : <%= @list.content %></h5>
      </p>
      <br>
      <p>
        <h5>場所 : <%= @list.location %></h5>
      </p>
      <br>
        <h6 class="text-right">
          <% if @list.user == current_user %>
          <u><%= link_to '編集', edit_list_path(@list) %></u>
          <% end %>
          <u><%= link_to '戻る', lists_path %></u>
        </h6>
      </u>
    </div>
  </div>
</div>