<div>
  <img class="rounded img-fluid" src="<%= gravatar_url(@user, { size: 100 }) %>" alt="">
  <br>
  <br>
  <h5><%= @user.name %></h5>
</div>
  <br>
  <br>
<div class="container">
  <div class="row">
    <% @lists.each do |list| %>
    <div class="col-xl-4 col-md-6">
      <br>
      <div><%= image_tag list.image.to_s,{ width: 240, height: 160 } %></div>
      <br>
      <h4>店名 ：　<%= list.store_name %></h4>
      <h4>評価 ：　<%= list.point %></h4>
      <br>
      <div><%= link_to '詳細を見る', list %></div>
      <br>
    </div>
    <% end %>
  </div>
</div>